<!DOCTYPE html>
<html>
<head>
<% include head.ejs %>
</head>
<header>
<% include header.ejs %>

</header>
<body>
<div class="container">
<h3> Recent post using the tags :  <b><%= tags%></b></h3>


<table class="table table-sm">
        <thead>
        <div class="row">
            <tr>
                <div class="col-sm">
                    <th>Account Name</th>
                </div>
                <div class="col-sm">
                    <th>Picture</th>
                </div>
                <div class="col-sm">
                    <th>Title</th>
                </div>
                <div class="col-sm">
                    <th>Date</th>
                </div>
                <div class="col-sm">
                    <th>Links</th>
                    <th></th>
                </div>
            </tr>
        </div>
        </thead>
        <tbody>
        <% for(var i = 0 ; i < data.length ; i ++) { %>
        <div class="row">
            <tr>
                <div class="col-sm">
                    <td><a href="https://busy.org/@<%=data[i]['author'] %>" target="_blank">@<%=data[i]['author'] %> </td>
                </div>
                <div class="col-sm">
                    <td>
                    <% if(data[i]['json_metadata']['image'] != null){ %>
                        <center><img src="<%= data[i]['json_metadata']['image'][0] %>" alt="preview" height="90" ></center>
                    <% }else {%>
                        <center><img src="/img/no_picture.png" alt="preview" height="100" ></center>
                    <% }%>
                    </td>
                </div>
                <div class="col-sm">
                    <td><b><%= data[i]['title'] %></b><br><span class="border-bottom"><p><small> <%= cleaner.strip(data[i]['body']) %></small></p></span></td>
                </div>
                <div class="col-sm">
                    <td><%= data[i]['created'].toISOString().replace(/T/, ' ').replace(/\..+/, '')  %></td>
                </div>
                <div class="col-sm">
                    <td><a href="https://busy.org<%= data[i]['url'] %>" target="_blank"><img src="/img/busy.png" alt="busy"/></a></td>
                    <td><a href="https://steemit.com<%= data[i]['url'] %>"target="_blank"><img src="/img/steemit.png" alt="steemit"/></a></td>
                </div>
            </tr>
        </div>
        <% }; %>
        <tbody>
    </table>
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="./function/jquery.paginate.js"></script>
<script>
$(document).ready(function () {
$('table').paginate({
'elemsPerPage': 4,
'maxButtons': 5
});
});
</script>
</div>
<footer>
<% include footer.ejs %>
</footer>
</body>
</html>



